.age-container {
	width: 30%;
	min-width: 550px;
	height: 100px;
	position: relative;
	left: 35%;
	top: 25vh;
	content:"";
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 30px;

}

#myage {
	position: absolute;
	width: 20%;
	min-width: 350px;
	height: 50px;
	padding: 10px;
	top: 20px;
	left: 22%;
	#bottom: 25%;
	font-size: 35px;
}

html body {
	margin: 0;
	height: 100%;
	background-image: url("bg_big.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
}