.age-container {
	width: 30%;
	min-width: 400px;
	height: 100px;
	position: absolute;
	top: 30%;
	bottom: 70%;
	right: 75%;
	left: 35%;
	
	content:"";
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 30px;

}

#myage {
	position: absolute;
	width: 20%;
	min-width: 400px;
	height: 100px;
	top: 34%;
	bottom: 68%;
	left: 40%;
	right: 60%;
	font-size: 35px;
	
	z-index: 1;
}

html body {
	margin: 0;
	height: 100%;
	background-image: url("bg_big.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}