body {
	background-color: #5d3a3a;
    margin: 0;
    color: white;
}

.age-container {
    display: flex;
    width: 225px;
    background-color: #b5e0ba;
    padding: 20px;
    border-radius: 30px;
    margin: 10px auto;
}

.subcont {
    margin: 0;
    display: flex;
}

.life, #myage {
    color: black;
    margin: 2px;
    font-size: 20px;;
}

.menu {
    display: flex;
    flex-flow: row wrap;
}

.section {
    flex: 1 1 200px;
    height: 300px;
    background-color: #4F4F4F;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 20px;
}

.head {
    width: 100%;
    
    background-color: #b5e0ba;
    border-radius: 10px;
    flex: 0 1 30px;
    
    box-sizing: border-box;
    text-align: center;
    color: black;
}

.dark {
    display: none;
}

li {
    list-style: none;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
    padding: 3px;
    margin: 3px;
}

a:hover {
    color:  #b5e0ba;
    background-color: #5C434C;
    border-radius: 5px;
}

.todo .data {
    padding-right: 10px;
}
